@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* font-family: 'Space Mono', monospace; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(60, 61, 94);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(3, 4, 94);
}


.toggle-signup {
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: rgb(21, 101, 192);
}

/* Homepage */

.Home {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgb(198, 0, 23);
  color: white;
  width: 100%;
}

p.logo {
  font-size: 30px;
}

.main {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-start;
  height: 100%;
  /* flex: 1; */
  width: 100%;
  padding: 20px;
  gap: 20px;
  overflow-y: auto;
}

.templates {
  color: rgb(3, 4, 94);
}

.quizDiv {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.create {
  background-color: #E0B1CB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  padding: 10px 30px;
  height: 150px;
  color: rgb(3, 4, 94);
  border-radius: 5px;
}

.createBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

/* Quiz Card */

.QuizCard {
  background-color: #E0B1CB;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  height: 150px;
  color: rgb(3, 4, 94);
  border-radius: 5px;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100%;
}

.title-topic-name {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.nameDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

img.avatar {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: 1px solid rgb(3, 4, 94);
  padding: 2px;
}

.title-topic {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 5px;
}

p.title {
  font-size: 20px;
  font-weight: bold;
  color: rgb(3, 4, 94);
}

p.topic {
  font-size: 20px;
}

p.name {
  font-size: 18px;
}

img.deleteIcon {
  width: 40px;
  height: 40px;
  background-color: #c60017;
  padding: 5px;
  border-radius: 100%;
}

button.delete {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.right {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  gap: 20px;
}

p.lastEdit {
  font-size: 14px;
}

.quiz-buttonDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
}

.edit-start {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
}

button.edit {
  background-color: #c60017;
  border: none;
  color: white;
  width: 90px;
  padding: 5px 20px;
  font-size: 14px;
  /* font-weight: bold; */
  border-radius: 5px;
  cursor: pointer;
}




/* Quiz */

.Quiz {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}


.popup {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}


.innerPopup {
  display: flex;
  flex-direction: column;
  background-color: rgb(198, 0, 23);
  overflow: hidden;
  width: 420px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
  margin: 0px;
  gap: 20px;
  color: white;
}

.inputDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  width: 100%;
}

input[type="text"] {
  font-size: 20px;
  padding: 5px 10px;
  color: rgb(3, 4, 94);
  border: none;
  border-radius: 5px;
}

h1 {
  color: rgb(3, 4, 94);
}

label {
  font-size: 24px;
}

button.createQuiz {
  width: 100%;
  padding: 5px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  /* font-weight: bold; */
  color: rgb(198, 0, 23);
  cursor: pointer;
}



.container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex: 1;
  overflow: hidden;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
  height: 100%;
  padding: 20px 10px;
  gap: 10px;
  background-color: rgb(242, 242, 242);
  overflow-y: auto;
}

.queDiv {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
}

.addQue {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.queCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: wheat;
  border-radius: 5px;
  padding: 10px;
}

button.add {
  font-size: 16px;
  padding: 10px;
  background-color: rgb(198, 0, 23);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: white;
}

.type {
  width: 50px;
  height: 50px;
}

p.msg {
  font-size: 14px;
  text-align: center;
  color: rgb(3, 4, 94);
  font-weight: bold;
}




input.quesion {
  font-size: 36px;
  background-color: wheat;
  padding: 10px 30px;
  width: 100%;
  border: none;
}


input.option {
  padding: 10px 60px;
  border: none;
  font-size: 24px;
  background-color: rgb(242, 242, 242);
  color: rgb(3, 4, 94);
  width: 100%;
}

.choiceDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.choiceDivOut {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 20px;
}

.choices {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px
}

p.A {
  color: white;
  background-color: rgb(198, 0, 23);
  padding: 5px 10px;
  font-size: 24px;
  border-radius: 100%;
  /* width: 50px; */
  /* height: 50px; */
  font-weight: bold;
  position: absolute;
  left: 10px;
}

.true {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  left: 5px;
}


img.correct {
  width: 40px;
  height: 40px;
}

.blank {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 100%;
  position: absolute;
  right: 10px;
}

button.addQuebtn {
  font-size: 24px;
  color: white;
  background-color: rgb(198, 0, 23);
  width: 50%;
  padding: 10px;
  /* font-weight: bold; */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.showImg {
  height: 100%;
  width: 100%;
  overflow: hidden;
}


.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.img-add {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}

.addImg {
  /* flex: 1; */
  height: 250px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 2px solid rgb(198, 0, 23);
  background-color: rgb(242, 242, 242);
  border-radius: 5px;
  overflow: hidden;
}


/* Waiting */


.Waiting {
  width: 100%;
  height: 100vh;
  background-color: rgb(198, 0, 23);
  display: flex;
  align-items: center;
  justify-content: center;
}

.w-container {
  width: 90%;
  height: 80%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
}

.link-r {
  text-decoration: none;
  color: rgb(198, 0, 23);
}

.w-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  gap: 30px;
}

p.wait-text {
  font-size: 32px;
  color: rgb(3, 4, 94);
}

p.pin {
  color: rgb(3, 4, 94);
  font-size: 24px;
  font-weight: bold;
}

.roomInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


.players {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  overflow-y: auto;
}

.std-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #8080803d;
  padding: 10px 20px;
  border-radius: 50px;
}

button.kick {
  font-size: 20px;
  background-color: rgb(198, 0, 23);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 100%;
  cursor: pointer;
}

p.name {
  font-size: 24px;
  color: rgb(3, 4, 94);
}


/* Middle Point */

.MiddlePoint{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}



/* Students Play */

.StudentsPlay {
  width: 100%;
  height: 100vh;
  background-color: rgb(198, 0, 23);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sp-container {
  width: 90%;
  height: 80%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
}

a.link-sp {
  text-decoration: none;
  color: rgb(198, 0, 23);
  position: fixed;
  top: 100px;
}