@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');


*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* font-family: 'Space Mono', monospace; */
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.toggle-signup{
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: rgb(21, 101, 192);
}

/* Homepage */

.Home {
  width: 100%;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgb(198, 0, 23);
  color: white;
}

p.logo {
  font-size: 30px;
}

