@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');


*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* font-family: 'Space Mono', monospace; */
}


.toggle-signup{
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: rgb(21, 101, 192);
}